* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg,
            #253237 50%,
            rgba(255, 255, 255, 0) 60%);
}

.header-bg {
    background-color: #253237;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239db4c0' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

/* Style for the table */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Limit the height and add a vertical scrollbar */
.table-container {
    max-height: 240px;
    /* Maximum height for the table container */
    overflow-y: auto;
    /* Add a vertical scrollbar when necessary */
}

/* Limit the width and add a horizontal scrollbar */
.table-container table {
    max-width: 100%;
    /* Limit the width of the table */
    overflow-x: auto;
    /* Add a horizontal scrollbar when necessary */
}

/* Add styles for the image preview container */
.image-preview {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    max-height: 300px;
}